# =============== #
# Unity generated #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Oo]bj/
[Mm]emoryCaptures/
[Bb]ackup*/
UserSettings/
Packages/com.unity.package-manager-ui/
.gradle/

# Visual Studio / JetBrains
.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.svd
*.pdb
*.mdb

# OS generated
.DS_Store
Thumbs.db

# Crash & build logs
sysinfo.txt
*.stackdump
